*.bin
*.yaml
sync/*
*.userdb/*
*.userdb.*
!default.custom.yaml
!luna_pinyin.custom.dict.yaml
!luna_pinyin.custom.yaml
!squirrel.custom.yaml
!squirrel.yaml
!symbols.yaml
!weasel.custom.yaml
!weasel.yaml
!kaomoji.dict.yaml
!kaomoji.schema.yaml
.DS_Store
